@model Entities.Dtos.CreateCompanyForAdminDto

@{
    ViewData["Title"] = "CreateCompany";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bilgileri Güncelle</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCompany" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            @* @for (var i = 0; i < Model.Sectors.Count(); i++)
   {
       
       <div class="form-check">
           <input asp-for="@Model.Sectors[i].Exist" type="checkbox" class="form-check-input">
           <label asp-for="@Model.Sectors[i].Id" class="form-check-label">@Model.Sectors[i].Name</label>
           <input asp-for="@Model.Sectors[i].Name" type="hidden" >
           <input asp-for="@Model.Sectors[i].Id" type="hidden" >
       </div>
   }*@
            <div class="form-group">
                <label asp-for="CompanyDescription" class="control-label"></label>
                <input asp-for="CompanyDescription" class="form-control" />
                <span asp-validation-for="CompanyDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
              <label asp-for="Logo" class="control-label"></label>
              <div class="custom-file">
                <input asp-for="Logo" class="custom-file-input" id="customFile" filtertype />
                <label class="custom-file-label" for="customFile">Choose File</label> 
              </div>
              <span asp-validation-for="Logo" class="text-danger"></span>
          </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

