@model IEnumerable<Entities.Dtos.PersonnelDocumentListDto>

@{
    ViewData["Title"] = "PersonnelDocumentList";
      Layout = "~/Views/Shared/_Manager.cshtml";
}

<h1>Personel Döküman Listesi</h1>

<p>
    <a asp-action="AddPersonnelDocument">Özlük Belgesi Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Adı
            </th>
            <th>
                Soyadı
            </th>
            <th>
                Dosya Adı
            </th>
            <th>
               Dosya Detay
            </th>
            <th>
               Tarih
            </th>
             <th>
                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileGeneratedDate)
            </td>
            <td>
                <a href="/Manager/UpdatePersonnelDocument?id=@item.DocumentId" type="sumbit" class="btn btn-success"> Özlük Belgesini Düzenle</a> |
                <a href="/Manager/DeletePersonnelDocument?id=@item.DocumentId" type="sumbit" class="btn btn-danger"> Özlük Belgesini Sil</a> 
            </td>
        </tr>
}
    </tbody>
</table>
